#container {
    display: flex;
    flex-direction: column;
    background-color: #0F4C75;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    background-color: #8b9bbe;
}

#schedule {
    width: 70%;
    height: 100%;
    background-color: #8b9bbe;

}

#set_schedule_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.make_button {
    width: 100%;
    height: 15%;
    font-size: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#main_button {
    width: 200%;
    height: 150%;
}