#container{
    height:100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#space{
    height:20%;
    width:100%;
}
#login_button_div{
    width:50%;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    
    
}
.login_button{
    width:calc(100% + 16px);
    height:30%;
    font-size: 40px;

}
#find_button_div{
    width:80%;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.find_button{
    color:black;
}









